<template id="grid-template">
  <table class="table">
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key || firstTimeSort && key == 'updated'}">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns" v-if="key === 'title'">
          <router-link v-bind:to="'/issues/' + entry[key].id">#{{entry[key].id}}: {{entry[key].title}}</router-link>
        </td>
        <td @click="emitEvent('setKind', entry[key].id)" v-for="key in columns" v-if="key === 't'">
          {{entry[key].name}}
        </td>
        <td @click="emitEvent('setPriority', entry[key].id)" v-for="key in columns" v-if="key === 'p'">
          {{entry[key].name}}
        </td>
        <td @click="emitEvent('setStatus', entry[key].id)" v-for="key in columns" v-if="key === 'status'">
          {{entry[key].name}}
        </td>
        <td v-for="key in columns" v-if="key === 'votes'">
          {{entry[key]}}
        </td>
        <td @click="emitEvent('setResponsible', entry[key].id)" v-for="key in columns" v-if="key === 'assignee'">
          {{entry[key].name}}
        </td>
        <td v-for="key in columns" v-if="key === 'updated' || key === 'created'">
          {{timeSince(entry[key])}}
        </td>
        <td @click="emitEvent('setWatchUnwatch', {issue: entry['title'].id, action: entry[key]})" v-for="key in columns" v-if="key === 'watched'">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>

export default {
  name: 'demo-grid',
  template: '#grid-template',
  props: {
    data: Array,
    columns: Array,
    filterKey: String
  },
  data: function () {
    var firstTimeSort = true
    var sortOrders = {}
    this.columns.forEach(function (key) {
      sortOrders[key] = 1
    })
    return {
      firstTimeSort: firstTimeSort,
      sortKey: '',
      sortOrders: sortOrders
    }
  },
  computed: {
    filteredData: function () {
      // this.$emit('setResponsible', '2')
      var sortKey = this.sortKey
      var filterKey = this.filterKey && this.filterKey.toLowerCase()
      var order = this.sortOrders[sortKey] || 1
      var data = this.data
      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
          })
        })
      }
      if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey]
          b = b[sortKey]
          if (sortKey === 'status' || sortKey === 'p' || sortKey === 't') {
            return (a.id === b.id ? 0 : a.id > b.id ? 1 : -1) * order
          }
          if (sortKey === 'assignee') {
            return (a.name === b.name ? 0 : a.name > b.name ? 1 : -1) * order
          }
          if (sortKey === 'title') {
            return (a.title === b.title ? 0 : a.title > b.title ? 1 : -1) * order
          }
          return (a === b ? 0 : a > b ? 1 : -1) * order
        })
      }
      return data
    }
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    }
  },
  methods: {
    emitEvent: function (eventName, eventValue) {
      console.log(eventValue)
      this.$emit(eventName, eventValue)
    },
    sortBy: function (key) {
      this.firstTimeSort = false
      this.sortKey = key
      this.sortOrders[key] = this.sortOrders[key] * -1
    },
    timeSince: function (stringDate) {
      var timeStamp = new Date(stringDate)
      var now = new Date()
      var secondsPast = (now.getTime() - timeStamp.getTime()) / 1000
      if (secondsPast < 60) {
        return parseInt(secondsPast) + 's ago'
      }
      if (secondsPast < 3600) {
        return parseInt(secondsPast / 60) + 'm ago'
      }
      if (secondsPast <= 86400) {
        return parseInt(secondsPast / 3600) + 'h ago'
      }
      if (secondsPast > 86400) {
        var day = timeStamp.getDate()
        var month = timeStamp.toDateString().match(/ [a-zA-Z]*/)[0].replace(' ', '')
        var year = timeStamp.getFullYear() === now.getFullYear() ? '' : ' ' + timeStamp.getFullYear()
        return day + ' ' + month + year
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

table {
  border: 2px solid rgb(41,80,164);
  border-radius: 3px;
  background-color: #fff;
}

th {
  /*In order to avoid bootstrap css*/
  background-color: rgb(41,80,164) !important;
  
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  cursor: pointer;
  background-color: #f9f9f9;
}

td:active {
  background-color: #e8e8e8;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


</style>
