<template id="issues-list">
  <div style="margin: 25px">
    <div class="container">
      <div class="pull-left">
        <ul>
          <li><button @click="setIssueListFilter(1)"
              :class="{ active: filters.predefinedfilter == 1 }">All</button></li>
          <li><button @click="setIssueListFilter(2)"
              :class="{ active: filters.predefinedfilter == 2 }">Open</button></li>
          <li><button @click="setIssueListFilter(3)"
              :class="{ active: filters.predefinedfilter == 3 }">My Issues</button></li>
          <li><button @click="setIssueListFilter(4)"
              :class="{ active: filters.predefinedfilter == 4 }">Watching</button></li>
        </ul>
      </div>
      <div class="pull-right">
        <button class="newissue"><router-link to="/issues/new">New Issue</router-link></button>
      </div>
    </div>
    <div class="table-responsive container">
      <demo-grid
        v-on:setResponsible="setIssueListAssignee"
        v-on:setKind="setIssueListKind"
        v-on:setPriority="setIssueListPriority"
        v-on:setStatus="setIssueListStatus"
        v-on:setWatchUnwatch="setWatchUnwatch"
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery">
      </demo-grid>
    </div>
  </div>
</template>

<script>

import Vue from 'vue'
import VueResource from 'vue-resource'
import Grid from '@/components/Grid'

Vue.use(VueResource)

export default {
  name: 'issues-list',
  data () {
    return {
      uid: 0,
      issuesList: [],
      searchQuery: '',
      gridColumns: ['title', 't', 'p', 'status', 'votes', 'assignee', 'created', 'updated', 'watched'],
      gridData: [],
      // By default, predefinedfilter is two => Open&New issues
      filters: {predefinedfilter: 2, responsible: 0, kind: 0, priority: 0, status: 0}
    }
  },
  mounted: function () {
    if (!this.$config.API) {
      this.$router.push('/')
    }
    this.mountedFunction()
  },
  components: {
    'demo-grid': Grid
  },
  methods: {
    setWatchUnwatch: function (properties) {
      var issueId = properties.issue
      var action = properties.action
      if (action === 'No') { // Unwatch
        this.$http({
          method: 'POST',
          url: 'http://issue-tracker-g13a.herokuapp.com/api/v1/watches?issue_id=' + issueId,
          // a3d6488802f67a87555be23c61024959
          headers: {'api_key': this.$config.API, 'Content-Type': 'application/x-www-form-urlencoded'}
        }).then(function (response) {
          this.getIssuesList()
        }, function (response) {
          console.error('Error: ' + 'Get issues list failed')
        })
      } else { // Watch
        this.$http({
          method: 'DELETE',
          url: 'http://issue-tracker-g13a.herokuapp.com/api/v1/issues/' + issueId + '/watch/',
          headers: {'api_key': this.$config.API}
        }).then(function (response) {
          this.getIssuesList()
        }, function (response) {
          console.error('Error: ' + 'Get issues list failed')
        })
      }
    },
    mountedFunction: function () {
      this.$http({
        method: 'GET',
        url: 'https://issue-tracker-g13a.herokuapp.com/api/v1/users/currentuser',
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.uid = response.body.id
        setInterval(this.getIssuesList, 5000)
      }, function (response) {
        console.error('Error: ' + 'Get issues list failed')
      })
    },
    getIssuesList: function () {
      var extraQueryParameters = this.getExtraQueryParameters()
      var urlPath = 'https://issue-tracker-g13a.herokuapp.com/api/v1/issues' + extraQueryParameters
      this.$http({
        method: 'GET',
        url: urlPath,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.issuesList = response.body
        this.setIssuesFromList()
      }, function (response) {
        console.error('Error: ' + 'Get issues list failed')
      })
    },
    getExtraQueryParameters: function () {
      var parametersNumber = 0
      var extraUrl = ''
      if (this.filters.predefinedfilter !== 0) {
        extraUrl += 'filter=' + this.filters.predefinedfilter
        parametersNumber++
      }
      if (this.filters.responsible !== 0) {
        extraUrl += (parametersNumber > 0 ? '&' : '') + 'responsible=' + this.filters.responsible
        parametersNumber++
      }
      if (this.filters.kind !== 0) {
        extraUrl += (parametersNumber > 0 ? '&' : '') + 'kind=' + this.filters.kind
        parametersNumber++
      }
      if (this.filters.priority !== 0) {
        extraUrl += (parametersNumber > 0 ? '&' : '') + 'priority=' + this.filters.priority
        parametersNumber++
      }
      if (this.filters.status !== 0) {
        extraUrl += (parametersNumber > 0 ? '&' : '') + 'status=' + this.filters.status
        parametersNumber++
      }
      extraUrl = (parametersNumber > 0 ? '?' : '') + extraUrl
      return extraUrl
    },
    setIssuesFromList: function () {
      this.gridData = []
      for (var i = 0; i < this.issuesList.issues.length; i++) {
        var issue = this.issuesList.issues[i]
        this.gridData.push(
          {
            title: issue,
            t: issue.kind,
            p: issue.priority,
            status: issue.status,
            votes: issue.voters.length,
            assignee: issue.assignee,
            created: new Date(issue.created_at),
            updated: new Date(issue.updated_at),
            watched: this.isIssueWatched(issue)
          })
      }
    },
    isIssueWatched: function (issue) {
      var found = false
      var i = 0
      while (!found && i < issue.watchers.length) {
        var watcher = issue.watchers[i]
        if (watcher.id === this.uid) {
          found = true
        }
        i++
      }
      return found ? 'Yes' : 'No'
    },
    timeSince: function (stringDate) {
      var timeStamp = new Date(stringDate)
      var now = new Date()
      var secondsPast = (now.getTime() - timeStamp.getTime()) / 1000
      if (secondsPast < 60) {
        return parseInt(secondsPast) + 's ago'
      }
      if (secondsPast < 3600) {
        return parseInt(secondsPast / 60) + 'm ago'
      }
      if (secondsPast <= 86400) {
        return parseInt(secondsPast / 3600) + 'h ago'
      }
      if (secondsPast > 86400) {
        var day = timeStamp.getDate()
        var month = timeStamp.toDateString().match(/ [a-zA-Z]*/)[0].replace(' ', '')
        var year = timeStamp.getFullYear() === now.getFullYear() ? '' : ' ' + timeStamp.getFullYear()
        return day + ' ' + month + year
      }
    },
    setIssueListFilter: function (filterNumber) {
      this.filters.predefinedfilter = filterNumber
      this.filters.kind = 0
      this.filters.priority = 0
      this.filters.responsible = 0
      this.filters.status = 0
      this.getIssuesList()
    },
    setIssueListKind: function (kindId) {
      this.filters.kind = kindId
      this.getIssuesList()
    },
    setIssueListPriority: function (priorityId) {
      this.filters.priority = priorityId
      this.getIssuesList()
    },
    setIssueListAssignee: function (responsibleId) {
      this.filters.responsible = responsibleId
      this.getIssuesList()
    },
    setIssueListStatus: function (statusId) {
      this.filters.status = statusId
      // When a status filter is set the predefinedfilters are disabled
      this.filters.predefinedfilter = 0
      this.getIssuesList()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

button {
  outline: 0;
  border: none;
  font-size: 24px;
}

button.active {
  background-color: #b2b2b2;
}

button.newissue {
  background-color: rgb(41,80,164);
  color: rgba(255,255,255,0.66);
}

button:active {
  background-color: #b2b2b2;
}

a {
  color: rgba(255,255,255,1);
  text-decoration:none;  
}
</style>
