<template>
  <div class=" logo ">
     <img src= "http://i65.tinypic.com/ms0jtz.png" />
    <div class=" center ">
    <input type="text" v-model="apikey" placeholder="Api key" number>
    <div class=" center ">
    <button v-on:click="postLogin" value="Login" data-disable-with="Login" class="login"> Login </button>
    </div>
    </div>
    </div>
    
</template>

<script>
import Vue from 'vue'
const vueConfig = require('vue-config')
const configs = {
  API: '' // It's better to require a config file
}
Vue.use(vueConfig, configs)
// A param named `$config` will be injected in to every component, so in your component, you can get config easily
export default {
  name: 'login',
  data () {
    return {
      apikey: ''
    }
  },
  methods: {
    setApikey: function () {
      this.$config.API = this.apikey
    },
    postLogin: function () {
      this.setApikey()
      this.$router.push('/issues')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.center {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button.login{
        outline: 0;
        border: none;
        font-size: 19px;
        background-color: rgb(41,80,164);
        color: rgba(255,255,255,1);
    }
</style>
