<template>
	<div class="new">
		<section id="new-issue" style="padding: 20px">
			<h1>Create issue</h1> 
		</section>
		<div id="issue-form">
			<div class="form-item">
				<label for="id_title"> Title* </label>
				<input type="text" name="title" v-model="title" />
				<br/> </div>
			<div class="form-item">
				<label for="id_content">Description</label>
				<input type="textarea" name="description" v-model="description" />
				<br/> </div>
			<div class="form-item">
				<label for="s2id_autogen3">Assignee</label>
				<select v-model="assignee_selected">
					<option v-for="assignee in assignees" v-bind:value="assignee.id"> {{ assignee.name }} </option>
				</select>
				<br/> </div>
			<div class="form-item">
				<label for="s2id_autogen1"> Kind* </label>
				<select v-model="kind_selected">
					<option v-for="kind in kinds" v-bind:value="kind.value"> {{ kind.text }} </option>
				</select>
				<br/> </div>
			<div class="form-item">
				<label for="s2id_autogen2"> Priority* </label>
				<select v-model="priority_selected">
					<option v-for="priority in priorities" v-bind:value="priority.value"> {{ priority.text }} </option>
				</select>
				<br/> </div>
			<div class="form-item">
				<label for="attachments">Attachment</label>
				<input v-on:change="onFileUpload" type="file" name="attachments" />
				<br/> </div>
			<button v-on:click="postIssue" value="Create issue" data-disable-with="Create issue" class="create-issue"> Create issue </button>
			<a>
				<router-link to="/issues">Cancel</router-link>
			</a>
		</div>
	</div>
</template>

<style scoped>
    #issue-form{
        text-align: start;
        margin-left: 50%;
    }
    button.create-issue{
        outline: 0;
        border: none;
        font-size: 24px;
        background-color: rgb(41,80,164);
        color: rgba(255,255,255,1);
        margin-top: 10px;
        margin-left: -72px;
    }
    input[type=file]{
        display: inline-block;
    }
    div.form-item{
        padding: 4px 0 4px 0px;
        box-sizing: border-box;
        clear: both;
        position: relative;
        margin: 1px 0;
        width: 100%;
    }
    label{
        width: 130px;
        text-align: right;
        margin-left: -145px;
        margin-right: 5px;
    }
    input{
        max-width: 600px;
    }
    
</style>

<script>
    export default {
      name: 'new',
      data () {
        return {
          title: '',
          description: '',
          assignee_selected: 1,
          assignees: [],
          kind_selected: 1,
          kinds: [
          { text: 'bug', value: 1 },
          { text: 'enhancement', value: 2 },
          { text: 'proposal', value: 3 },
          { text: 'task', value: 4 }
          ],
          priority_selected: 1,
          priorities: [
          { text: 'trivial', value: 1 },
          { text: 'minor', value: 2 },
          { text: 'major', value: 3 },
          { text: 'critical', value: 4 },
          { text: 'blocker', value: 5 }
          ],
          file: ''
        }
      },
      mounted: function () {
        if (!this.$config.API) {
          this.$router.push('/')
        }
        this.getAssignees()
      },
      methods: {
        getAssignees: function () {
          var url = 'http://issue-tracker-g13a.herokuapp.com/api/v1/users'
          this.$http({
            method: 'GET',
            url: url,
            headers: {'api_key': this.$config.API}
          }).then(function (response) {
            this.assignees = response.body
          }, function (response) {
            console.error('Error: ' + 'Get users failed')
          })
        },
        postIssue: function () {
          var data = {
            title: this.title,
            description: this.description,
            assignee_id: this.assignee_selected,
            type_id: this.kind_selected,
            priority_id: this.priority_selected
          }
          var url = 'http://issue-tracker-g13a.herokuapp.com/api/v1/issues'
          var config = {
            headers: {
              'api_key': this.$config.API
            }
          }
          this.$http.post(url, data, config).then(response => {
            if (this.file) {
              url = 'http://issue-tracker-g13a.herokuapp.com/api/v1/issues/' + response.body.id + '/attachments'
              config = {
                headers: {
                  'api_key': this.$config.API,
                  'Content-Type': 'multipart/form-data'
                }
              }
              var fd = new FormData()
              fd.append('file', this.file)
              var lastresponse = response
              this.$http.post(url, fd, config).then(response => {
                console.log('El attach es ' + lastresponse.body)
                this.$router.push('/issues/' + lastresponse.body.id)
              }, response => {
                console.error('Error: ' + 'Post attachment failed')
              })
            } else {
              this.$router.push('/issues/' + response.body.id)
            }
          }, response => {
            console.error('Error: ' + 'Post issue failed')
          })
        },
        onFileUpload: function (e) {
          var files = e.target.files || e.dataTransfer.files
          if (!files.length) return
          this.file = files['0']
        }
      }
    }
</script>
