<template>
	<div style="margin: 25px">
		<div id="main-div">
			<div id="issue-id">Issue #{{id}}</div>
			<div id="status"> {{status}} </div>
			<div id="title">
				<h4><b>{{title}}</b></h4> </div>
			<div id="creator-div"> <img id="creator-avatar" :src="creator_avatar_url" />
				<div style="display: inline-block">
					<div id="creator-name">{{creator_name}}</div>
					<div id="create-date"> created an issue {{created_date}}</div>
					<div id="description"> <i>{{description}}</i> </div>
				</div>
			</div>
			</br>
			<div id="title">
				<h4><b>Attachments</b></h4> </div>
			<div v-for="attachment in attachments" style="display: inline-block; margin-right: 10px">
			  <a :href="attachment.url" target="_blank">
		      <div style="width: 150px; height: 150px;">
		        <div id="attachment-box"/>
		        <div style="width: 100%; text-align: center;">
		          {{attachment.file_file_name}}
		        </div>
		      </div>
			  </a>
			</div></br>
			<div id="title">
				<h4><b>Comments ({{numOfcomments}})</b></h4> </div>
			<div id="creator-div">
			 	<!-- EXEMPLE DE PROVA, sha de fer un bucle per tots els comments  que hi hagi-->
				<div v-for="comment in infoComments" id="comments-div"> <img id="creator-avatar" :src="comment.url_image_author" />
					<div style="display: inline-block">
					  <div id="creator-name"> {{ comment.authorComment }}</div>
						<div id="comment-text"> <i>{{ comment.text }}</i> </div>
					</div>
					<!-- FALTA FER QUE SI NO SOC AUTOR DEL COMMENT NO APAREGUI EL BOTO DE BORRAR EL COMMENT -->
					<div id="comment-button" tab-index="2" v-on:click="deleteComment(comment.id)">Delete</div>
					<div id= "createdTimeComment"> {{comment.created_date }}</div>
					<hr />
				</div>
				
				<!--FALTA POSAR LA FOTO DE LA PERSONA LOGEJADA-->
				<div id="issue-form">
				  <div class="form-item">
				    <img id="creator-avatar" :src="creator_avatar_url" style="display: inline-block">
			      <input type="text" size="40" v-model="textNewComment"> 
			      <div id="resolve-button" v-on:click="createComment()"style="display: inline-block"> Comment </div>
			    </div>
			   <br/> 
			   
			   </div>
			   
			
    </div>
		</div>
		<div id="side-div">
		  <div id="side-buttons">
		    <div id="resolve-button" v-on:click="changeStatus()">Resolve</div>
		    <select id="workflow-select" v-on:change="changeStatus()" v-model="newStatus">
		      <option selected hidden disabled value="">Workflow</option>
		      <option value="1">new</option>
		      <option value="2">open</option>
		      <option value="3">on hold</option>
		      <option value="4">resolved</option>
		      <option value="5">duplicate</option>
		      <option value="6">invalid</option>
		      <option value="7">wontfix</option>
		      <option value="8">close</option>
		    </select>
		    <div id="resolve-button" tab-index="2" v-on:click="deleteIssue">Delete</div>
		    <div id="resolve-button" tab-index="3">
		      <router-link style="color: white" :to="edit_url">Edit</router-link>
		    </div>
		  </div>
		  <div id="side-box">
  			<div class="side-div-item">
  				<label class="side-div-label">Assignee</label>
  				<div class="side-div-content">{{assignee_name}}</div>
  				</br>
  			</div>
  			<div class="side-div-item">
  				<label class="side-div-label">Type</label>
  				<div class="side-div-content">{{type}}</div>
  				</br>
  			</div>
  			<div class="side-div-item">
  				<label class="side-div-label">Priority</label>
  				<div class="side-div-content">{{priority}}</div>
  				</br>
  			</div>
  			<div class="side-div-item">
  				<label class="side-div-label">Status</label>
  				<div class="side-div-content">{{status}}</div>
  				</br>
  			</div>
  			<div class="side-div-item">
  				<label class="side-div-label">Votes</label>
  				<div v-if="isVoting" class="side-div-content">
  				  <div class="voting">
    				  {{votes}}
  				  </div>
  				  <div id="vote-issue" v-on:click="removeVote">
  				    Remove vote
  				  </div>
  				</div>
  				<div v-else class="side-div-content">
  				  <div class="not-voting">
    				  {{votes}}
  				  </div>
  				  <div id="vote-issue" v-on:click="voteIssue">
  				    Vote for this issue
  				  </div>
  				</div>
  				</br>
  			</div>
  			<div class="side-div-item">
  				<label class="side-div-label">Watches</label>
  				<div v-if="isWatching" class="side-div-content">
  				  <div class="voting">
    				  {{watches}}
  				  </div>
  				  <div id="vote-issue" v-on:click="removeWatch">
  				    Stop watching
  				  </div>
  				</div>
  				<div v-if="!isWatching" class="side-div-content">
  				  <div class="not-voting">
    				  {{watches}}
  				  </div>
  				  <div id="vote-issue"  v-on:click="watchIssue">
  				    Watch this issue
  				  </div>
  				</div>
  				</br>
  			</div>
			</div>
		</div>
	</div>
</template>

<style scoped>
    #main-div {
        text-align: start;
        display: inline-block;
    }
    #issue-id{
        display: inline-block;
    }
    #status{
        display: inline-block;
        background-color: rgb(41,80,164);
        color: white;
        padding: 0px 4px 0px 4px;
        margin-left: 5px;
    }
    #title{
        margin-top: 10px;
    }
    #creator-div{
        display: table-cell;
        border: 1px solid rgb(41,80,164);
        border-radius: 5px;
        width: 528px;
        padding: 5px;
    }
    #creator-avatar{
        max-width: 32px;
        max-height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: -20px;
    }
    #creator-name{
        display: inline-block;
        color: rgb(41,80,164);
        font-weight: bold;
    }
    #create-date{
        display: inline-block;
    }
    #description{
        
    }
    #attachment-box{
      width: 150px;
      height: 150px;
      background: url(https://d301sr5gafysq2.cloudfront.net/87002ef24cff/img/clip.png) no-repeat 50% 50% #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    #comments-div{
      margin-bottom: 5px;
      margin-top: 5px;
    }
    #side-div{
      margin-left: 20px;
      display: inline-block;
      width: 300px;
      text-align: end;
      vertical-align: top;
    }
    #side-buttons{
      display: inline-block;
    }
    #resolve-button{
      border-radius: 3px;
      background-color: rgb(41,80,164);
      padding: 5px 10px 5px 10px;
      color: white;
      cursor: pointer;
      display: inline-block;
    }
    #comment-button{
      border-radius: 8px;
      background-color: rgb(229,229,229);
      padding: 3px 8px 2px 8px;
      color: rgb(105,105,105);
      cursor: pointer;
      display: inline-block;
      border: 1px solid #696969;
    }
    #createdTimeComment{
      display: inline-block;
      background-color: rgb(229,229,229);
      color: rgb(105,105,105);
      padding: 0px 4px 0px 4px;
      margin-left: 5px;
    }
    #workflow-select{
      background: transparent;
      overflow: hidden;
      border-radius: 3px;
      padding: 5px 10px 5px 10px;
      background-color: rgb(41,80,164);
      color: white;
    }
    #side-box{
      width: 300px;
      border: 1px solid rgb(41,80,164);
      border-radius: 5px;
      text-align: start;
      margin-top: 10px;
    }
    .side-div-item{
        padding: 4px 0 4px 0px;
        box-sizing: border-box;
        clear: both;
        position: relative;
        margin: 1px 0;
        width: 100%;
    }
    .side-div-content{
        display: inline-block;
    }
    .side-div-label{
        width: 130px;
        text-align: right;
        margin-right: 5px;
    }
    .voting{
      display: inline-block;
      color: white;
      border-radius: 2em;
      background-color: rgb(41,80,164);
      padding: 3px 5px 2px;
      font-size: 11px;
      font-weight: 700;
      line-height: .99;
      min-height: 1em;
      min-width: 1em;
    }
    .not-voting{
      display: inline-block;
      border-radius: 2em;
      background: rgba(0,0,0,.2);
      padding: 3px 5px 2px;
      font-size: 11px;
      font-weight: 700;
      line-height: .99;
      min-height: 1em;
      min-width: 1em;
    }
    #vote-issue{
      display: inline-block;
      cursor: pointer;
      color: #0052CC;
    }
    #watch-issue{
      display: inline-block;
      color: #0052CC;
      cursor: pointer;
    }
</style>

<script>
export default {
  name: 'show',
  data () {
    return {
      id: '',
      edit_url: '/issues/' + this.$route.params['id'] + '/edit',
      newStatus: '',
      title: '',
      status: '',
      creator_name: '',
      description: '',
      assignee_name: '',
      creator_avatar_url: '',
      created_date: '',
      type: '',
      priority: '',
      attachments: [],
      infoComments: [],
      commentsList: [],
      textNewComment: '',
      numOfcomments: '',
      prova: '',
      voters: undefined,
      watchers: undefined,
      votes: 0,
      watches: 0,
      isVoting: false,
      isWatching: false
    }
  },
  mounted: function () {
    if (!this.$config.API) {
      this.$router.push('/')
    }
    this.getIssueDetails()
    this.getCurrentUser()
    this.getAttachments()
  },
  methods: {
    getIssueDetails: function () {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/issues/' + this.$route.params['id']
      this.$http({
        method: 'GET',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        console.log(response.body)
        this.title = response.body.title
        this.created_at = response.body.created_at
        this.status = response.body.status.name
        this.description = response.body.description
        if (this.description === '') this.description = '-'
        this.assignee_name = response.body.assignee.name
        this.type = response.body.kind.name
        this.priority = response.body.priority.name
        this.creator_name = response.body.creator.name
        this.id = response.body.id
        this.commentsList = response.body.comments
        this.setInfoComments()
        this.getImageUser(response.body.creator.id)
        this.numOfcomments = response.body.comments.length
        this.votes = response.body.voters.length
        this.watches = response.body.watchers.length
        this.voters = response.body.voters
        this.watchers = response.body.watchers
        this.checkVotesWatches()
      }, function (response) {
        console.error('Error: ' + 'Get issue details failed')
      })
    },
    getCurrentUser: function () {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/users/currentuser'
      this.$http({
        method: 'GET',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.username = response.body.name
        this.checkVotesWatches()
      }, function (response) {
        console.error('Error: ' + 'Get user details failed')
      })
    },
    checkVotesWatches: function () {
      if (this.username !== undefined && this.voters !== undefined && this.watchers !== undefined) {
        var i = 0
        var found = false
        for (i = 0; i < this.voters.length; i++) {
          if (this.voters[i].name === this.username) {
            found = true
            this.isVoting = true
          }
        }
        if (!found) this.isVoting = false
        found = false
        for (i = 0; i < this.watchers.length; i++) {
          if (this.watchers[i].name === this.username) {
            this.isWatching = true
            found = true
          }
        }
        if (!found) this.isWatching = false
      }
    },
    getImageUser: function (idu) {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/users/' + idu
      this.$http({
        method: 'GET',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.creator_avatar_url = response.body.image
      }, function (response) {
        console.error('Error: ' + 'Get user details failed')
      })
    },
    getImageUserComment: function (idu) {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/users/' + idu
      this.$http({
        method: 'GET',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.comments_creators_avatar_url.push(response.body.image)
      }, function (response) {
        console.error('Error: ' + 'Get user details failed')
      })
    },
    getAttachments: function () {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/issues/' + this.$route.params['id'] + '/attachments'
      this.$http({
        method: 'GET',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.attachments = response.body
        for (var i = 0; i < this.attachments.length; i++) {
          this.attachments[i].url = 'http://issue-tracker-g13a.herokuapp.com/images/' + this.attachments[i].id + '/' + this.attachments[i].file_file_name
        }
      }, function (response) {
        console.error('Error: ' + 'Get attachments failed')
      })
    },
    deleteIssue: function () {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/issues/' + this.$route.params['id']
      this.$http({
        method: 'DELETE',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.$router.push('/issues')
      }, function (response) {
        console.error('Error: ' + 'Delete issue failed')
      })
    },
    deleteComment: function (idc) {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/comments/' + idc
      this.$http({
        method: 'DELETE',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.getIssueDetails()
      }, function (response) {
        console.error('Error: ' + 'Delete comment failed')
      })
    },
    createComment: function () {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/comments?text=' + this.textNewComment + '&issue_id=' + this.$route.params['id']
      this.$http({
        method: 'POST',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.getIssueDetails()
      }, function (response) {
        console.error('Error: ' + 'create comment failed')
      })
    },
    changeStatus: function () {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/issues/' + this.$route.params['id'] + '/set_status?status_id=' + this.newStatus
      this.$http({
        method: 'POST',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.getIssueDetails()
        this.newStatus = ''
      }, function (response) {
        console.error('Error: ' + 'Change status failed')
      })
    },
    voteIssue: function () {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/votes?issue_id=' + this.$route.params['id']
      this.$http({
        method: 'POST',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.getIssueDetails()
      }, function (response) {
        console.error('Error: ' + 'Vote failed')
      })
    },
    removeVote: function () {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/issues/' + this.$route.params['id'] + '/vote'
      this.$http({
        method: 'DELETE',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.getIssueDetails()
      }, function (response) {
        console.error('Error: ' + 'Vote failed')
      })
    },
    watchIssue: function () {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/watches?issue_id=' + this.$route.params['id']
      this.$http({
        method: 'POST',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.getIssueDetails()
      }, function (response) {
        console.error('Error: ' + 'Watch failed')
      })
    },
    removeWatch: function () {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/issues/' + this.$route.params['id'] + '/watch'
      this.$http({
        method: 'DELETE',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.getIssueDetails()
      }, function (response) {
        console.error('Error: ' + 'Watch failed')
      })
    },
    getAuthorInfo: function (comment) {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/users/' + comment.author_id
      this.$http({
        method: 'GET',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.getCreatedDateComment(comment.id, response.body.name, comment.text, response.body.image)
      }, function (response) {
        console.error('Error: ' + 'Get user details failed')
      })
    },
    setInfoComments: function () {
      this.infoComments = []
      for (var i = 0; i < this.commentsList.length; i++) {
        // this.commentsList[i].i = i
        var comment = this.commentsList[i]
        this.getAuthorInfo(comment)
      }
    },
    getCreatedDateComment: function (id, author, text, urlUser) {
      var url = 'https://issue-tracker-g13a.herokuapp.com/api/v1/comments/' + id
      this.$http({
        method: 'GET',
        url: url,
        headers: {'api_key': this.$config.API}
      }).then(function (response) {
        this.infoComments.push(
          {
            id: id,
            authorComment: author,
            text: text,
            url_image_author: urlUser,
            created_date: this.timeSince(response.body.created_at)
          })
      }, function (response) {
        console.error('Error: ' + 'Get comments details failed')
      })
    },
    timeSince: function (stringDate) {
      var timeStamp = new Date(stringDate)
      var now = new Date()
      var secondsPast = (now.getTime() - timeStamp.getTime()) / 1000
      if (secondsPast < 60) {
        return parseInt(secondsPast) + 's ago'
      }
      if (secondsPast < 3600) {
        return parseInt(secondsPast / 60) + 'm ago'
      }
      if (secondsPast <= 86400) {
        return parseInt(secondsPast / 3600) + 'h ago'
      }
      if (secondsPast > 86400) {
        var day = timeStamp.getDate()
        var month = timeStamp.toDateString().match(/ [a-zA-Z]*/)[0].replace(' ', '')
        var year = timeStamp.getFullYear() === now.getFullYear() ? '' : ' ' + timeStamp.getFullYear()
        return day + ' ' + month + year
      }
    }
  }
}
</script>


</script>
