<template id="app">
  <div id="app">
    <div id="image_div">
      <router-link to="/issues">
        <img id="image" src="http://i65.tinypic.com/ms0jtz.png"/>
      </router-link>
    </div>
    <div style="height: 1px; background: #A0A0A0"/>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  template: '#app',
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#image_div{
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#image{
  height: 50px;
}
</style>
